<a href="https://colab.research.google.com/github/SathishKesavalu/AzureDevOps/blob/main/Refresh2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# If statement example
x = 10
if x > 5:
    print(f'{x} is greater than 5')

10 is greater than 5

In [ ]:
# For loop example
fruits = ['apple', 'banana', 'cherry','Mngo', 'pineapple', 'gauva']
for i in fruits:
    print(i)

apple
banana
cherry
Mngo
pineapple
gauva

In [ ]:
# For loop example
fruits = ['apple', 'banana', 'cherry','Mngo', 'pineapple', 'gauva']
print (fruits[3])

# More Pythonic way of FOR loop
for i in fruits:
    print(i)

print('-----------------')

# More Tranditional way of FOR loop
for j in range(6):
  print (j,fruits[j])

# More XXXX way of FOR loop

for j in range(len(fruits)):
  print (j,fruits[j])

# More Enumurate way of FOR loop
print ("----------------")
for idx, element in enumerate(fruits):
  print(idx, element)

Mngo
apple
banana
cherry
Mngo
pineapple
gauva
-----------------
0 apple
1 banana
2 cherry
3 Mngo
4 pineapple
5 gauva
0 apple
1 banana
2 cherry
3 Mngo
4 pineapple
5 gauva
----------------
0 apple
1 banana
2 cherry
3 Mngo
4 pineapple
5 gauva

In [ ]:
count = 1
while count < 50:
    print(count)
    count *= 2

1
2
4
8
16
32

In [ ]:
for i in range(5):
    if i == 3:
        break
    print(i)
print ("----------------")
# Continue example
for i in range(5):
    if i == 3:
        continue
    print(i)

0
1
2
----------------
0
1
2
4

In [ ]:
# Function example
def greet(name):
    return f'Hello, {name}!'

# Call the function
print(greet('Alice'))
print(greet('Bob'))

Hello, Alice!
Hello, Bob!

In [ ]:
def subtract(a, b):   #paraments a and b
  return a - b

result = subtract(10, 5) # Python assumes a = 10 and b = 5 the values which are passed are Arguments
print(result) # Output: 5

5

In [ ]:
def greet(name, message):
  print(f"{message}, {name}!")

greet(name = "Alice", message="Hello")
greet(message = "Hi", name = "Bob")

Hello, Alice!
Hi, Bob!

In [ ]:
def greet(name, message="Hello"):
  print(f"{message}, {name}!")

greet("Alice")
greet("Bob", "Hi")

Hello, Alice!
Hi, Bob!

In [ ]:
def multiply(*args):
  result = 1
  for num in args:
    result *= num
  return result
print(multiply(1, 2, 3, 4))

24

In [ ]:
def print_info(**kwargs):
  for key, value in kwargs.items():
    print(f"{key}: {value}")

print_info(name="Alice", age=30,
city="New York")

name: Alice
age: 30
city: New York

In [ ]:
def add(num_a, num_b, num_c):
  return num_a + num_b + num_c

print (add(1,2,3))
print (add(1001,2,4))

6
1007

In [ ]:
def greet_without_kwargs(name=None, city=None, age=None):  # This creats a dictonary
    message = "Hello!"
    if name:
        message += f" {name}!"
    if city:
        message += f" Welcome from {city}!"
    if age:
        message += f" You are {age} years old."
    return message

print(greet_without_kwargs())
print(greet_without_kwargs(name="Alice"))
print(greet_without_kwargs(name="Bob", city="New York"))
print(greet_without_kwargs(name="Charlie", age=30))
print(greet_without_kwargs(name="David", city="SFO", age=25))

Hello!
Hello! Alice!
Hello! Bob! Welcome from New York!
Hello! Charlie! You are 30 years old.
Hello! David! Welcome from SFO! You are 25 years old.

In [ ]:
user_data = {
    'name' : 'alice',
    'job' : 'ML',
    'team' : 'insignts'
}
for key, value in user_data.items():
  print ("key",key,"value",value)

key name value alice
key job value ML
key team value insignts

In [ ]:
def demo(a, b, *args, c=0, **kwargs):
    print(a, b)
    print(args)
    print(c)
    print(kwargs)

demo(1, 2, 3, 4, c=5, d=6, e=7)

1 2
(3, 4)
5
{'d': 6, 'e': 7}

In [ ]:
import seaborn as sns
? sns.barplot